@page
@model RazorPage.Pages.Booking.HistoryModel

@{
    ViewData["Title"] = "Booking History";
}

<h1>Booking History</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Booking Date</th>
                <th scope="col">Actual Price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BookingReservation)
            {
                <tr>
                    <td>@item.BookingDate</td>
                    <td>@item.ActualPrice.ToString()</td>
                    <td>
                        @{
                            string statusText;
                            switch (item.BookingStatus)
                            {
                                case 0:
                                    statusText = "Pending";
                                    break;
                                case 1:
                                    statusText = "Confirmed";
                                    break;
                                default:
                                    statusText = "Unknown";
                                    break;
                            }
                        }
                        @statusText
                    </td>
                    <td>
                        @* <a asp-page="./Delete" asp-route-id="@item.BookingReservationId" class="btn btn-sm btn-danger">Delete</a> *@
                        <a asp-page="./Details" asp-route-id="@item.BookingReservationId" class="btn btn-sm btn-primary">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
